// variables for container


// variables for header
$header-bgc:#89A8B2;
$header-font:'Playfair Display';

// variables for main
$main-bgc-1:#B3C8CF;
$main-bgc-2:#E5E1DA;
$main-font:'Lato';

// variables for footer
$footer-bgc:#F1F0E8;
$footer-font:'Montserrat';